* {
    margin: 0;
}

.body {
    display: block;

}

.header-bg-white-70 {
    background-color: rgba(0, 255, 255, 0.7);
}

.d-flex {
    display: flex;
}

.border-radius-16 {
    border-radius: 16px;
}

.p-y-12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.p-x-12 {
    padding-left: 12px;
    padding-right: 12px;
}

.p-x-16 {
    padding-left: 16px;
    padding-right: 16px;
}

.overflow-hidden {
    overflow: hidden;
    justify-content: space-between;
}

.justify-content-between {
    justify-content: space-between;
}

.algin-items-center {
    align-items: center;
}

.nav-btn {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(219, 215, 216, 0.7);
    cursor: pointer;
}
/* 橫線圖示 */
.btn-line {
    /* color: #000; */
    background-color: black;
    height: 2px;
    width: 90%;
}

.d-none {
    display: none;
}

li {
    list-style: none;
}
.cursor-pointer{
    cursor: pointer;
}
.mr--16{
    margin-right: -16px;
}
.w-100{
    width: 100%;    
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.inset-0{
    inset: 0;
}

.fs-24{
    font-size: 24px;
}
.text-white{
    color: #FFF;
}
.rect-white{
    width: 4px;
    /* height: 24px; */
    background-color: #FFF;
}
.ml-80{
    margin-left: 80px;
}
.pl-8{
    padding-left: 8px;
}
.line-height-1{
    line-height: 1;
}
.mt-64{
    margin-top: 64px;
}
.section-title-style{
    font-size: 16px;
    font-weight: 700;
    font-style: 'Noto Sans' normal;
    text-align: center;
    margin-top: 32px;
    color: #343A40;
}
.se2-text-wrapper{
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
    /* 加relative，文字才會出來，只下z-index沒用 */
    position: relative;
    padding: 16px;
    width: auto;
}
.overflow-hidden{
    overflow: hidden;
}

/* 576px以上生效 */
/* 固定不變的東西要在上面，media一定要寫在最下面 */
@media (min-width:576px) {
    .container {
        max-width: 540px;
        /* 左右自動放在最小px */
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width:768px) {
    .d-md-hidden {
        display: none;
    }

    .d-md-flex {
        display: flex;
    }

    .container {
        max-width: 720px;
    }
    .fs-md-48{
        font-size: 48px;
    }
    .rect-white-md{
        width: 8px;
        background-color: #FFF;
    }   

    .section-title-style-md{
        font-size: 32px;
        font-weight: 700;
        font-style: 'Noto Sans' normal;
        text-align: center;
        margin-top: 64px;
        color: #343A40;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }
    .d-lg-flex{
        display: flex;
    }
    .w-lg-1\/2{
        width: 50%;
    }
    /* 繼承parent的postion設定 */
    .position-lg-unset{
        position: unset;
    }
    .se2-text-wrapper{
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 1;
        /* 加relative，文字才會出來，只下z-index沒用 */
        position: relative;
        padding:16px;
        margin-left: -99px;
        width: 60%;
    }
    .align-items-center-lg{
        align-items: center;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
    .se2-text-wrapper{
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 1;
        /* 加relative，文字才會出來，只下z-index沒用 */
        position: relative;
        padding:16px;
        margin-left: -172px;
        width: 744px;
    }
}